:root{
    --white: white;
    --skyblue: rgb(135, 206, 235); 
    --secundario: rgb(225, 243, 250);  
}

*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
}

/*HEADER*/

header nav{
    width: 100%;
    height: 10vh;
    background-color: var(--skyblue);
    border-bottom: 0.2rem solid black;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header nav h1{
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #000;
}
nav h1:hover{
    color: white;
    transition: 0.5s;
}

nav ul{
    display: flex;
}

nav ul li{
    border-right: solid 2px black;
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a {
    color: black;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

nav ul li a:hover {
    color: var(--white);
    transition: 0.3s;
}

nav ul li img{
    display: none;
}

.drawer {
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 0.1rem var(--white-text);
    padding: 0.2rem;
    border-radius: 0.1rem;
}

#ckbox {
    display: none;
}

/*CONTENIDO INDEX*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
}

main h1{
    text-align: center;
    margin: 1.5rem;
    font-size: 5rem;
}
main h2{
    text-align: center;
    color: var(--skyblue);
    margin: 1.5rem;
    font-size: 3rem;
}
main form{
    display: flex;
    justify-content: center;
}

main form button{
    margin: 0 0.5rem;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
}

.sobre-mi{
    background-color: skyblue;
    color: white;
    border: solid 0.1rem;
}

.sobre-mi:hover{
    transition: 0.3s;
    background-color: white;
    color: skyblue;
}

.contacto{
    background-color: skyblue;
    color: white;
    border: solid 0.1rem;
}

.contacto:hover{
    background-color: white;
    color: skyblue;
    transition: 0.3s;
}

.foto{
    display: flex;
    border-radius: 50%;
    background-color: skyblue;
}

main span img{
    width: 250px;
    height: 300px;
    display: none;
}

/*CONTENIDO PROYECTOS*/
.card {
    display: flex;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
    border: 0.2rem solid skyblue;
    border-radius: 20px;
}

.card .front{
    transform:perspective(600px)rotateY(0deg);
}

.card .front img{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 20%;
    left: 25%;
}

.card .front h3{
    position: absolute;
    bottom: 0px;
    height: 25%;
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: skyblue;
    font-size: 1rem;
}

.card .back{
    transform: perspective(600px)rotateY(180deg);
    background: skyblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.card .back h3{
    color: white;
    font-size: 1rem;
}

.card .back p{
    color: white;
    font-size: 0.8rem;
    padding: 0 0.5rem 0 0.5rem;
}

.card .link a{
    color: skyblue;
    font-size: 0.8rem;
    align-items: flex-end;
    justify-content: end;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    background: white;
}

.card:hover .front{
    transform:perspective(600px)rotateY(180deg);
}

.card:hover .back{
    transform:perspective(600px)rotateY(0deg);
}

.card .link a:hover{
    transition: 0.5s;
    background: skyblue;
    color: white;
}

/*CONTENIDO FORMULARIO*/

main .form {
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 30%;
    height: 90%;
    margin: 20px;
    border: 0.5rem solid skyblue;
    background: var(--secundario);
    border-radius: 20px;
    font-size: 0.9rem;
}

.form form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form h3{
    margin: 10px;
    color: var(--skyblue);
    text-align: center;
    margin-bottom: 10px;
    background: white;
    padding: 10px;
    border-radius: 20px;
}

.input{
    padding: 10px 0 10px 0;
    border-bottom: 2px solid rgba(135, 206, 235, 0.5);
}

.input:last-child{
    border: 0;
}

.input label, .input input{
    display: inline-block;
    width: 20%;
}
.input input{
    width: 60%;
}

.textarea{ 
    padding: 10px 0 10px 0px;
    border-bottom: 2px solid rgba(135, 206, 235, 0.5);
}

.textarea label, .textarea textarea{
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0px;
}

.textarea textarea{
    width: 100%;
    height: 100px;
}

#botones{
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input button{
    font-size: 0.9rem;
    background-color: white;
    border: 2px solid skyblue;
    border-radius: 20px;
    color: skyblue;
    font-weight: bold;
}

.input button:hover{
    transition: 0.5s;
    background-color: skyblue;
    border: 2px solid skyblue;
    color: white;
}


/*FOOTER*/

footer{
    height: 10vh;
    background-color: skyblue;
    border-top: solid 0.2rem black;
    display: flex;
    justify-content: right;
    align-items: center;
}

footer ul{
    display: flex;
}

footer img{
    width: 2rem;
    height: 2rem;
}

footer img:hover{
    transition: 0.3s;
    filter: invert(100%) hue-rotate(90deg);
}

footer ul li{
    border-right: solid 2px black;
}

footer ul li:last-child{
    border-right: none;
}

footer ul li a {
    color: black;
    font-size: 1.2rem;
    padding: 1rem 1rem;
}

footer p{
    margin-left: 10px;
    margin-right: 10px;
}

@media(max-width:1050px) {
    nav {
        justify-content: flex-start;
    }
    .drawer {
        display: block;
    }
    nav h1 {
        margin-left: 10px;
        justify-content: left;
    }
    ul {
        position: fixed;
        width: 40%;
        height: 100vh;
        background: white;
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }
    nav ul li {
        padding: 0.5rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        border: 0;
        border-bottom: solid 0.1rem rgba(201, 196, 196, 0.5);
    }
    #ckbox:checked~.menu-box {
        left: 0;
    }
    .image {
        display: none;
    }
    footer {
        text-align: center;
    }
}